@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: whitesmoke;
    color: rgba(0, 0, 0, 0.685);
    font-family: "Poppins", sans-serif;
}

nav {
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD:Landing Page/landing-page.css
    background-color: #E1F0DA;
=======
=======
>>>>>>> 72471a4955964c48482809f2ab250596888084bd
=======
>>>>>>> 72471a4955964c48482809f2ab250596888084bd
    position: sticky;
    top: 0;
    margin: 2px;
    padding: 5px;
    z-index: 1000;
    background-color: whitesmoke;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 72471a4955964c48482809f2ab250596888084bd:navbar/navbar.css
=======
>>>>>>> 72471a4955964c48482809f2ab250596888084bd
=======
>>>>>>> 72471a4955964c48482809f2ab250596888084bd
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand, .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.808) !important;
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
    color: #427898 !important;
}

.logo-img {
    margin-left: 20px;
    height: 50px;
    width: auto;
}

.dropdown-menu {
    background-color: whitesmoke;
    border-radius: 5px;
}

.dropdown-item:hover {
    color: #427898 !important;
}

.nav-link {
    font-size: 1rem;
    padding: 10px;
}

.btn-outline-primary {
    color: #427898;
    border-color: #427898;
}

.btn-outline-primary:hover {
    background-color: #427898;
    color: whitesmoke;
}

.btn-outline-primary {
    margin-right: 20px;
    width: 100px;
    padding: 10px 20px;
    background-color: #427898;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    transition: #427898 0.3s ease;
}

.btn-outline-primary:hover {
    background-color: #48cfcb;
    color: beige;
}